<StackLayout #initialContainer class="initial-container" orientation="vertical"  >
      <Label text="Simple Interest" class="fn-title"></Label>
      <Image src="res://icon" 
      class="fn-logo"
      stretch ="none"></Image>
       <TextField #amountTxtField
        [(ngModel)]="amount"
        hint="Amount"
        class="fn-input"
        keyboardType="number"
        returnKeyType="next"
        autocapitalizationType="none">
        </TextField>
        <TextField #rateTxtField
        [(ngModel)]="rate"
        keyboardType="number"
        class="fn-input"
        hint="Interest Rate"
        keyboardType="number"
        returnKeyType="next"
        autocapitalizationType="none">
        </TextField>
        <TextField #timeTxtField
         [(ngModel)]="year"
        keyboardType="number"
        class="fn-input"
        hint="Years"
        keyboardType="number"
        returnKeyType="next"
        autocapitalizationType="none">
        </TextField>
        <Button
        horizontalAlignment="center"
        [text]="btnName"
        class="fn-button"
        (tap)="siCalcualte()"></Button>
        <Label #resultLab [text]="si | currency:'USD':true:'1.2-2'"
        class="fn-answer"></Label>
</StackLayout>  