<StackLayout #initialContainer class="initial-container" orientation="vertical"  >
      <Label text="Simple Interest" class="fn-title"></Label>
      <Image src="res://icon" 
      class="fn-logo"
      stretch ="none"></Image>
       <TextField #amountTxtField
        hint="Amount"
        [text]="amount1"
        class="fn-input"
        keyboardType="number"
        (returnPress)="focusRate()"
        returnKeyType="next"
        autocapitalizationType="none">
        </TextField>
        <TextField #rateTxtField
        class="fn-input"
        hint="Interest Rate"
        keyboardType="number"
        (returnPress)="focusTime()"
        returnKeyType="next"
        autocapitalizationType="none">
        </TextField>
        <TextField #timeTxtField
        class="fn-input"
        hint="Years"
        keyboardType="number"
        (returnPress)="focusBtnCalcualte()"
        returnKeyType="next"
        autocapitalizationType="none">
        </TextField>
        <Button
        horizontalAlignment="center"
        text="Calculate Now"
        class="fn-button"
        (tap)="siCalcualte()"></Button>
        <Label #resultLab text="{{amount1}}"
        class="fn-answer"></Label>
</StackLayout>  