Page {
    background-color: ghostwhite;
    font-size: 14;
}
.fn-logo{
    horizontal-align: center;
    margin-bottom: 10;
}
.fn-button{

}
.fn-title{
    horizontal-align: center;
    margin-bottom: 10;
    font-size: 24;
}

TextField {
    padding: 8;
    font-size: 14;
}