Page {
    background-color: ghostwhite;
    font-size: 14;
    padding: 0;
}
.fn-logo{
    horizontal-align: center;
    margin-bottom: 10;
}

.fn-title{
    horizontal-align: center;
    margin-bottom: 10;
    font-size: 24;
}

.fn-input {
    padding: 8;
    font-size: 16;
}

.initial-container{
  margin-top:8;
  background-color: lightgray
}

.fn-button{
  background-color:teal;
  color:black;
  font-size: 12;
}
